# 4.1 - MongoDB

![mongo](images/mongodb.jpeg)

https://docs.mongodb.com/manual/administration/install-community/

https://docs.mongodb.com/compass/current/install/

MongoDB es una base de datos orientada a documentos. Esto quiere decir que en lugar de guardar los datos en registros, guarda los datos en documentos. Estos documentos son almacenados en BSON, que es una representación binaria de JSON.

Una de las diferencias más importantes con respecto a las bases de datos relacionales, es que no es necesario seguir un esquema. Los documentos de una misma colección, concepto similar a una tabla de una base de datos relacional, pueden tener esquemas diferentes.

In [1]:
%pip install pymongo

Requirement already satisfied: pymongo in /opt/homebrew/Caskroom/miniconda/base/envs/clase/lib/python3.9/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/homebrew/Caskroom/miniconda/base/envs/clase/lib/python3.9/site-packages (from pymongo) (2.2.1)
WARNING: Error parsing requirements for pyarrow: [Errno 21] Is a directory: '/opt/homebrew/Caskroom/miniconda/base/envs/clase/lib/python3.9/site-packages/pyarrow-10.0.1.dist-info/METADATA'
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo import MongoClient

In [3]:
cursor=MongoClient()

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
cursor.list_database_names()  # lista de bases de datos

['admin', 'companies', 'config', 'ironcomes', 'local']

In [6]:
db=cursor.nueva_db   # crea una bade de datos vacia

In [7]:
cursor.list_database_names()

['admin', 'companies', 'config', 'ironcomes', 'local']

In [8]:
colec=db.n_colec    # nueva coleccion

In [9]:
db.list_collection_names()

[]

In [11]:
dictio={'nombre': 'Pepe', 'edad': 43, '4': [0, 1, 2, 3]}

colec.insert_one(dictio)

In [12]:
cursor.list_database_names()

['admin', 'companies', 'config', 'ironcomes', 'local', 'nueva_db']

In [13]:
db.list_collection_names()

['n_colec']

In [17]:
# insertar varios

# Equivalente SQL

# insert into colec (columnas) values (valores);

json=[{'nombre': 'yo', 'edad': 38},
      {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'}]


colec.insert_many(json)

In [18]:
# select * from colec;

colec.find()

In [19]:
list(colec.find())

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 'yo', 'edad': 38},
 {'_id': 0, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 'yo', 'edad': 38},
 {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'}]

In [20]:
res=list(colec.find())

In [21]:
res[0]

{'_id': ObjectId('63db829ef40f08f7223f8277'),
 'nombre': 'Pepe',
 'edad': 43,
 '4': [0, 1, 2, 3]}

In [23]:
type(res[0]['4'])

list

In [26]:
json=[{'nombre': 'Alex', 'edad': 28},
      {'_id': 25, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'}]


colec.insert_many(json)

### Queries

In [27]:
# select * from colec;

list(colec.find())

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 'yo', 'edad': 38},
 {'_id': 0, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 'yo', 'edad': 38},
 {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 24, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28},
 {'_id': 25, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'}]

In [28]:
# select * from colec where edad=24;

list(colec.find({'edad': 24}))

[{'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24}]

In [29]:
# select * from colec where nombre=yo;

list(colec.find({'nombre': 'yo'}))

[{'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 'yo', 'edad': 38}]

In [30]:
# select * from colec where edad>24;

list(colec.find({'edad': {'$gt': 24}}))

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28}]

In [31]:
# select * from colec where edad>=24;

list(colec.find({'edad': {'$gte': 24}}))

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28}]

In [33]:
# select * from colec where edad<38;

list(colec.find({'edad': {'$lt': 38}}))

[{'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28}]

In [34]:
# select * from colec where edad<=38;

list(colec.find({'edad': {'$lte': 38}}))

[{'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28}]

In [35]:
# select * from colec where edad!=38;

list(colec.find({'edad': {'$ne': 38}}))

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': 0, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 24, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28},
 {'_id': 25, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'}]

In [36]:
# select * from colec where edad!=38 and nombre=Ana;

query={'$and': [{'edad': {'$ne': 38}},
                {'nombre': 'Ana'}]}

list(colec.find(query))

[{'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24}]

In [37]:
# select * from colec where edad<38 and edad>24;
# select * from colec where edad between (38, 24);

query={'$and': [{'edad': {'$lt': 38}},
                {'edad': {'$gt': 24}}]}

list(colec.find(query))

[{'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28}]

In [39]:
# select * from colec where edad!=38 limit 2;

query={'edad': {'$ne': 38}}

list(colec.find(query).limit(2))

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': 0, 'actividad': 'natacion', 'lugar': 'aqui'}]

In [43]:
# select * from colec where edad!=38 order by edad desc limit 3;

query={'edad': {'$ne': 38}}

list(colec.find(query).sort('edad', -1).limit(3))   # sort 1 asc, sort -1 desc

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28},
 {'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24}]

In [44]:
colec.update_one({'_id': 1}, {'$set': {'lugar': 'Madrid'}})

In [46]:
colec.update_one({'_id': 1}, {'$set': {'edad': 23}})

In [47]:
list(colec.find({'_id': 1}))

[{'_id': 1, 'actividad': 'natacion', 'lugar': 'Madrid', 'edad': 23}]

In [48]:
colec.update_many({'edad': 38}, {'$set': {'nombre': 42}})

In [49]:
query={'edad': 38}

list(colec.find(query))

[{'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 42, 'edad': 38},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 42, 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 42, 'edad': 38}]

In [56]:
# select edad from colec;

query={'edad': 38}  # es para registros

select={'_id':0, 'nombre':1}   # 0 es que no venga, 1 es que venga, es para columnas

list(colec.find(query, select))

[{'nombre': 42}, {'nombre': 42}, {'nombre': 42}]

In [57]:
# delete from colec where _id=0;

colec.delete_one({'_id': 0})

In [58]:
list(colec.find({'_id': 0}))

[]

In [59]:
# delete from colec where nombre=42;

colec.delete_one({'nombre': 42})

In [60]:
list(colec.find({'nombre': 42}))

[{'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 42, 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 42, 'edad': 38}]

In [61]:
# delete from colec where nombre=42;

colec.delete_many({'nombre': 42})

In [63]:
list(colec.find())

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': 1, 'actividad': 'natacion', 'lugar': 'Madrid', 'edad': 23},
 {'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 24, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28},
 {'_id': 25, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'}]

In [64]:
# select count(*) from colec group by _id;     #por cada id suma 1

list(colec.aggregate([{'$group': {'_id': '', 'count': {'$sum': 1}}}]))

[{'_id': '', 'count': 6}]

In [65]:
colec.drop()     # borrar coleccion

In [66]:
db.list_collection_names()

[]

In [67]:
cursor.list_database_names()

['admin', 'companies', 'config', 'ironcomes', 'local']

### DB Companies

### Geoqueries