# 4.1 - MongoDB

![mongo](images/mongodb.jpeg)

https://docs.mongodb.com/manual/administration/install-community/

https://docs.mongodb.com/compass/current/install/

MongoDB es una base de datos orientada a documentos. Esto quiere decir que en lugar de guardar los datos en registros, guarda los datos en documentos. Estos documentos son almacenados en BSON, que es una representación binaria de JSON.

Una de las diferencias más importantes con respecto a las bases de datos relacionales, es que no es necesario seguir un esquema. Los documentos de una misma colección, concepto similar a una tabla de una base de datos relacional, pueden tener esquemas diferentes.

In [1]:
%pip install pymongo

Requirement already satisfied: pymongo in /opt/homebrew/Caskroom/miniconda/base/envs/clase/lib/python3.9/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/homebrew/Caskroom/miniconda/base/envs/clase/lib/python3.9/site-packages (from pymongo) (2.2.1)
WARNING: Error parsing requirements for pyarrow: [Errno 21] Is a directory: '/opt/homebrew/Caskroom/miniconda/base/envs/clase/lib/python3.9/site-packages/pyarrow-10.0.1.dist-info/METADATA'
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo import MongoClient

In [3]:
cursor=MongoClient()

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
cursor.list_database_names()  # lista de bases de datos

['admin', 'companies', 'config', 'ironcomes', 'local']

In [6]:
db=cursor.nueva_db   # crea una bade de datos vacia

In [7]:
cursor.list_database_names()

['admin', 'companies', 'config', 'ironcomes', 'local']

In [8]:
colec=db.n_colec    # nueva coleccion

In [9]:
db.list_collection_names()

[]

In [11]:
dictio={'nombre': 'Pepe', 'edad': 43, '4': [0, 1, 2, 3]}

colec.insert_one(dictio)

In [12]:
cursor.list_database_names()

['admin', 'companies', 'config', 'ironcomes', 'local', 'nueva_db']

In [13]:
db.list_collection_names()

['n_colec']

In [17]:
# insertar varios

# Equivalente SQL

# insert into colec (columnas) values (valores);

json=[{'nombre': 'yo', 'edad': 38},
      {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'}]


colec.insert_many(json)

In [18]:
# select * from colec;

colec.find()

In [19]:
list(colec.find())

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 'yo', 'edad': 38},
 {'_id': 0, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 'yo', 'edad': 38},
 {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'}]

In [20]:
res=list(colec.find())

In [21]:
res[0]

{'_id': ObjectId('63db829ef40f08f7223f8277'),
 'nombre': 'Pepe',
 'edad': 43,
 '4': [0, 1, 2, 3]}

In [23]:
type(res[0]['4'])

list

In [26]:
json=[{'nombre': 'Alex', 'edad': 28},
      {'_id': 25, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'}]


colec.insert_many(json)

### Queries

In [27]:
# select * from colec;

list(colec.find())

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 'yo', 'edad': 38},
 {'_id': 0, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 'yo', 'edad': 38},
 {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 24, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28},
 {'_id': 25, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'}]

In [28]:
# select * from colec where edad=24;

list(colec.find({'edad': 24}))

[{'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24}]

In [29]:
# select * from colec where nombre=yo;

list(colec.find({'nombre': 'yo'}))

[{'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 'yo', 'edad': 38}]

In [30]:
# select * from colec where edad>24;

list(colec.find({'edad': {'$gt': 24}}))

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28}]

In [31]:
# select * from colec where edad>=24;

list(colec.find({'edad': {'$gte': 24}}))

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28}]

In [33]:
# select * from colec where edad<38;

list(colec.find({'edad': {'$lt': 38}}))

[{'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28}]

In [34]:
# select * from colec where edad<=38;

list(colec.find({'edad': {'$lte': 38}}))

[{'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28}]

In [35]:
# select * from colec where edad!=38;

list(colec.find({'edad': {'$ne': 38}}))

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': 0, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 24, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28},
 {'_id': 25, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'}]

In [36]:
# select * from colec where edad!=38 and nombre=Ana;

query={'$and': [{'edad': {'$ne': 38}},
                {'nombre': 'Ana'}]}

list(colec.find(query))

[{'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24}]

In [37]:
# select * from colec where edad<38 and edad>24;
# select * from colec where edad between (38, 24);

query={'$and': [{'edad': {'$lt': 38}},
                {'edad': {'$gt': 24}}]}

list(colec.find(query))

[{'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28}]

In [39]:
# select * from colec where edad!=38 limit 2;

query={'edad': {'$ne': 38}}

list(colec.find(query).limit(2))

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': 0, 'actividad': 'natacion', 'lugar': 'aqui'}]

In [43]:
# select * from colec where edad!=38 order by edad desc limit 3;

query={'edad': {'$ne': 38}}

list(colec.find(query).sort('edad', -1).limit(3))   # sort 1 asc, sort -1 desc

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28},
 {'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24}]

In [44]:
colec.update_one({'_id': 1}, {'$set': {'lugar': 'Madrid'}})

In [46]:
colec.update_one({'_id': 1}, {'$set': {'edad': 23}})

In [47]:
list(colec.find({'_id': 1}))

[{'_id': 1, 'actividad': 'natacion', 'lugar': 'Madrid', 'edad': 23}]

In [48]:
colec.update_many({'edad': 38}, {'$set': {'nombre': 42}})

In [49]:
query={'edad': 38}

list(colec.find(query))

[{'_id': ObjectId('63db835df40f08f7223f8278'), 'nombre': 42, 'edad': 38},
 {'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 42, 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 42, 'edad': 38}]

In [56]:
# select edad from colec;

query={'edad': 38}  # es para registros

select={'_id':0, 'nombre':1}   # 0 es que no venga, 1 es que venga, es para columnas

list(colec.find(query, select))

[{'nombre': 42}, {'nombre': 42}, {'nombre': 42}]

In [57]:
# delete from colec where _id=0;

colec.delete_one({'_id': 0})

In [58]:
list(colec.find({'_id': 0}))

[]

In [59]:
# delete from colec where nombre=42;

colec.delete_one({'nombre': 42})

In [60]:
list(colec.find({'nombre': 42}))

[{'_id': ObjectId('63db83d6f40f08f7223f8279'), 'nombre': 42, 'edad': 38},
 {'_id': ObjectId('63db83e1f40f08f7223f827a'), 'nombre': 42, 'edad': 38}]

In [61]:
# delete from colec where nombre=42;

colec.delete_many({'nombre': 42})

In [63]:
list(colec.find())

[{'_id': ObjectId('63db829ef40f08f7223f8277'),
  'nombre': 'Pepe',
  'edad': 43,
  '4': [0, 1, 2, 3]},
 {'_id': 1, 'actividad': 'natacion', 'lugar': 'Madrid', 'edad': 23},
 {'_id': ObjectId('63db855ef40f08f7223f827b'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 24, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': ObjectId('63db8571f40f08f7223f827c'), 'nombre': 'Alex', 'edad': 28},
 {'_id': 25, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'}]

In [64]:
# select count(*) from colec group by _id;     #por cada id suma 1

list(colec.aggregate([{'$group': {'_id': '', 'count': {'$sum': 1}}}]))

[{'_id': '', 'count': 6}]

In [65]:
colec.drop()     # borrar coleccion

In [66]:
db.list_collection_names()

[]

In [67]:
cursor.list_database_names()

['admin', 'companies', 'config', 'ironcomes', 'local']

### DB Companies

In [68]:
db=cursor.companies

In [69]:
colec=db.companies

In [72]:
list(colec.find().limit(1))[0].keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

In [78]:
# select name, category_code from colec where category_code in ('web', 'ecommerce') limit 10;

# por "filas", dame los registros con estos category_code
query={'$or': [{'category_code': 'web'},
               {'category_code': 'ecommerce'}]}


# por columnas, dame solo lass dos columnas
filtro={'name': True, 'category_code': True, '_id': False}



list(colec.find(query, filtro).limit(30))

[{'name': 'Wetpaint', 'category_code': 'web'},
 {'name': 'Postini', 'category_code': 'web'},
 {'name': 'Geni', 'category_code': 'web'},
 {'name': 'Fox Interactive Media', 'category_code': 'web'},
 {'name': 'StumbleUpon', 'category_code': 'web'},
 {'name': 'Gizmoz', 'category_code': 'web'},
 {'name': 'eBay', 'category_code': 'web'},
 {'name': 'Viacom', 'category_code': 'web'},
 {'name': 'Plaxo', 'category_code': 'web'},
 {'name': 'Yahoo!', 'category_code': 'web'},
 {'name': 'Mahalo', 'category_code': 'web'},
 {'name': 'Gannett', 'category_code': 'web'},
 {'name': 'Thoof', 'category_code': 'web'},
 {'name': 'Info', 'category_code': 'web'},
 {'name': 'JotSpot', 'category_code': 'web'},
 {'name': 'Meetup', 'category_code': 'web'},
 {'name': 'Mercora', 'category_code': 'web'},
 {'name': 'NetRatings', 'category_code': 'web'},
 {'name': 'Wesabe', 'category_code': 'web'},
 {'name': 'Jangl SMS', 'category_code': 'web'},
 {'name': 'Ikan', 'category_code': 'web'},
 {'name': 'delicious', 'category_code': 'web'},
 {'name': 'Topix', 'category_code': 'web'},
 {'name': 'Pownce', 'category_code': 'web'},
 {'name': 'AllPeers', 'category_code': 'web'},
 {'name': 'CriticalMetrics', 'category_code': 'web'},
 {'name': 'Wize', 'category_code': 'ecommerce'},
 {'name': 'SodaHead', 'category_code': 'web'},
 {'name': 'Steorn', 'category_code': 'web'},
 {'name': 'ClipBlast!', 'category_code': 'web'}]

In [80]:
# select founded_year, name 
# from colec where category_code=web and founded_year<=2002 limit 10;


# por "filas", dame los registros con estos category_code
query={'$and': [{'category_code': 'web'},
                {'founded_year': {'$lte': 2002}}]}


# por columnas, dame solo lass dos columnas
filtro={'name': True, 'founded_year': True, 'category_code': True, '_id': False}



list(colec.find(query, filtro).limit(10))

[{'name': 'Postini', 'category_code': 'web', 'founded_year': 1999},
 {'name': 'Fox Interactive Media',
  'category_code': 'web',
  'founded_year': 1979},
 {'name': 'StumbleUpon', 'category_code': 'web', 'founded_year': 2002},
 {'name': 'eBay', 'category_code': 'web', 'founded_year': 1995},
 {'name': 'Viacom', 'category_code': 'web', 'founded_year': 1971},
 {'name': 'Plaxo', 'category_code': 'web', 'founded_year': 2002},
 {'name': 'Yahoo!', 'category_code': 'web', 'founded_year': 1994},
 {'name': 'Meetup', 'category_code': 'web', 'founded_year': 2002},
 {'name': 'Topix', 'category_code': 'web', 'founded_year': 2002},
 {'name': 'Steorn', 'category_code': 'web', 'founded_year': 2000}]

In [81]:
import pandas as pd

df=pd.DataFrame(colec.find(query, filtro))

df.head()

                    name category_code  founded_year
0                Postini           web          1999
1  Fox Interactive Media           web          1979
2            StumbleUpon           web          2002
3                   eBay           web          1995
4                 Viacom           web          1971

In [82]:
df.shape

(457, 3)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           457 non-null    object
 1   category_code  457 non-null    object
 2   founded_year   457 non-null    int64
dtypes: int64(1), object(2)
memory usage: 10.8+ KB

In [86]:
def stats(df):
    
    print('Dimensiones de df')
    print(df.shape)
    print()
    print('Info')
    display(df.info())
    print()
    print('Descripcion')
    display(df.describe())

In [87]:
stats(df)

Dimensiones de df
(457, 3)

Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           457 non-null    object
 1   category_code  457 non-null    object
 2   founded_year   457 non-null    int64
dtypes: int64(1), object(2)
memory usage: 10.8+ KB

None

Descripcion

       founded_year
count    457.000000
mean    1994.111597
std       19.821645
min     1800.000000
25%     1996.000000
50%     1999.000000
75%     2000.000000
max     2002.000000

In [88]:
# select name, category_code, founded_year 
# from colec where name in ('WeGame', 'Facebook');

query = {'name': {'$in': ['WeGame', 'Facebook']}}

# por columnas, dame solo lass dos columnas
filtro={'name': True, 'founded_year': True, 'category_code': True, '_id': False}



list(colec.find(query, filtro).limit(10))

[{'name': 'Facebook', 'category_code': 'social', 'founded_year': 2004},
 {'name': 'WeGame', 'category_code': 'web', 'founded_year': 1840}]

In [89]:
# select name, category_code, founded_year from colec where name like 'Face%'; 


query = {'name': {'$regex': '^Face'}}

# por columnas, dame solo lass dos columnas
filtro={'name': True, 'founded_year': True, 'category_code': True, '_id': False}



list(colec.find(query, filtro).limit(10))

[{'name': 'Facebook', 'category_code': 'social', 'founded_year': 2004},
 {'name': 'FaceTec', 'category_code': 'software', 'founded_year': 2002},
 {'name': 'Face Your Manga', 'category_code': 'web', 'founded_year': None},
 {'name': 'Facebookster',
  'category_code': 'public_relations',
  'founded_year': 2003},
 {'name': 'Facebook Causes Application',
  'category_code': None,
  'founded_year': None},
 {'name': 'FaceKoo', 'category_code': 'network_hosting', 'founded_year': 2008},
 {'name': 'FacebookLicious!',
  'category_code': 'games_video',
  'founded_year': 2007},
 {'name': 'FaceTime Strategy',
  'category_code': 'public_relations',
  'founded_year': None}]

### Geoqueries

In [105]:
# documentos que contengan oficinas, devuelve solo el nombre y el array de oficinas

query={'offices': {'$not': {'$size': 0}}}

filtro={'_id': 0, 'name': 1, 'offices': 1}

ofi=colec.find(query, filtro)

In [106]:
df=pd.DataFrame(ofi)

df=df.dropna()

df.head()

        name                                            offices
0   Wetpaint  [{'description': '', 'address1': '710 - 2nd Av...
1  AdventNet  [{'description': 'Headquarters', 'address1': '...
2       Zoho  [{'description': 'Headquarters', 'address1': '...
3       Digg  [{'description': None, 'address1': '135 Missis...
4   Facebook  [{'description': 'Headquarters', 'address1': '...

In [107]:
df.offices[0]

[{'description': '',
  'address1': '710 - 2nd Avenue',
  'address2': 'Suite 1100',
  'zip_code': '98104',
  'city': 'Seattle',
  'state_code': 'WA',
  'country_code': 'USA',
  'latitude': 47.603122,
  'longitude': -122.333253},
 {'description': '',
  'address1': '270 Lafayette Street',
  'address2': 'Suite 505',
  'zip_code': '10012',
  'city': 'New York',
  'state_code': 'NY',
  'country_code': 'USA',
  'latitude': 40.7237306,
  'longitude': -73.9964312}]

In [108]:
# extraer la primera oficina y crear geopunto


def get_first(data):
    
    data=data.offices
    
    principal=None
    
    if data[0]['latitude'] and data[0]['longitude']:
        
        principal = {'type': 'Point',
                     'coordinates': [data[0]['longitude'],
                                     data[0]['latitude']]}


    return {'total_offices': len(data),
            'lat': data[0]['latitude'],
            'lng': data[0]['longitude'],
            'principal': principal}

In [109]:
first_office=df[['offices']].apply(get_first, result_type='expand', axis=1)


first_office.head()

,total_offices,lat,lng,principal
0,2.0,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
1,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
2,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
3,1.0,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
4,3.0,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."

In [103]:
df.name[:5]

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_23287/333693045.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.name[:5]

0     Wetpaint
1    AdventNet
2         Zoho
3         Digg
4     Facebook
Name: name, dtype: object

In [110]:
first_office['name']=df.name

first_office.head()

,total_offices,lat,lng,principal,name
0,2.0,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,...",Wetpaint
1,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,...",AdventNet
2,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,...",Zoho
3,1.0,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,...",Digg
4,3.0,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,...",Facebook

In [115]:
df=first_office.copy()

df=df.dropna()

In [116]:
#df.to_json('../data/oficinas.json')

In [117]:
db.first_office.insert_many(df.to_dict('records'))

In [118]:
db.first_office.create_index([('principal', '2dsphere')])

'principal_2dsphere'

In [122]:
def find_near(array, radio=1000):

    query={'principal': {'$near': {'$geometry': {'type': 'Point',
                                                 'coordinates': array},

                                  '$maxDistance': radio}}}
    
    return db.first_office.find(query)

In [123]:
park_avenue=[-73.987308, 40.738935]

In [124]:
find_near(park_avenue)

In [125]:
df=pd.DataFrame(find_near(park_avenue))

df.head()

,_id,total_offices,lat,lng,principal,name
0,63db9ce3f40f08f7223fd5e3,1.0,40.738567,-73.987199,"{'type': 'Point', 'coordinates': [-73.987199, ...",SpaBooker
1,63db9ce3f40f08f7223fc3bb,1.0,40.739341,-73.988357,"{'type': 'Point', 'coordinates': [-73.988357, ...",HealthiNation
2,63db9ce3f40f08f7223fbfa3,1.0,40.737721,-73.987725,"{'type': 'Point', 'coordinates': [-73.987725, ...",Special Ops Media
3,63db9ce3f40f08f7223fdc35,1.0,40.740154,-73.986742,"{'type': 'Point', 'coordinates': [-73.9867417,...",Mashable
4,63db9ce3f40f08f7223fcd3a,1.0,40.740207,-73.987002,"{'type': 'Point', 'coordinates': [-73.987002, ...",Return Path