# 2.1 - Introducción a Python

https://docs.python.org/3/

![python](images/python.png)

$$$$

Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código. Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.

Es administrado por la Python Software Foundation. Posee una licencia de código abierto, denominada Python Software Foundation License.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

```python
Bonito es mejor que feo.
Explícito es mejor que implícito.
Simple es mejor que complejo.
Complejo es mejor que complicado.
Plano es mejor que anidado.
Disperso es mejor que denso.
La legibilidad cuenta.
Los casos especiales no son tan especiales como para romper las reglas.
Aunque la practicidad gana a la pureza.
Los errores nunca deben pasar en silencio.
A menos que se silencien explícitamente.
Ante la ambigüedad, rechaza la tentación de suponer.
Debe haber una -y preferiblemente sólo una- forma obvia de hacerlo.
Aunque esa manera puede no ser obvia al principio, a menos que seas holandés.
Ahora es mejor que nunca.
Aunque nunca es a menudo mejor que *ahora mismo*.
Si la implementación es difícil de explicar, es una mala idea.
Si la implementación es fácil de explicar, puede ser una buena idea.
Los espacios de nombres son una gran idea, ¡hagamos más de ellos!
```

**Tabla de contenidos:**

    1  Números enteros (integer)
    2  Números reales (float)
    3  Números complejos (complex)
    4  Operaciones básicas
    5  Booleanos
    6  Valores nulos (None)
    7  Cadenas de caracteres (string)
    8  Tipos compuestos:
        8.1  Listas
        8.2  Tuplas
        8.3  Conjuntos (set)
        8.4  Diccionarios
    9  Más

## Números enteros (integer)

In [6]:
edad = 38

edad

38

In [10]:
type(edad)

int

In [11]:
type(0)

int

In [12]:
type(-3)

int

In [13]:
type(8)

int

## Números reales (float)

In [14]:
temp = 21.3

temp

21.3

In [15]:
type(temp)

float

In [16]:
type(1.618033)

float

In [17]:
type(3.1415926535)

float

In [18]:
type(.34)

float

In [19]:
type(34.)

float

In [20]:
float(3)

3.0

## Números complejos (complex)

In [21]:
1j

1j

In [22]:
4 + 1j

(4+1j)

In [23]:
type(1j)

complex

## Operaciones básicas

In [24]:
# suma 

3 + 4

7

In [25]:
3.4 + 8

11.4

In [26]:
suma = 3.4 + 80

suma

83.4

In [27]:
# resta

3.4 - 5

-1.6

In [28]:
3 - 2

1

In [29]:
48.9 - temp

27.599999999999998

In [30]:
# multiplicacion

3 * 4

12

In [31]:
5 * 2.3

11.5

In [32]:
# division

3 / 4

0.75

In [33]:
7 / 0.16

43.75

In [34]:
# division entera

20 / 3

6.666666666666667

In [41]:
temp = temp + 0.344353

temp

21.988706000000004

In [42]:
round(temp, 4)  # redondeo

21.9887

In [35]:
20 // 3  # solo la parte entera del resultado

6

In [36]:
# modulo (resto de la division)

20 % 3

2

In [43]:
# jerarquia de operaciones

2 + 3 * 5

17

In [44]:
(2 + 3) * 5

25

In [45]:
# potencia / raiz

2 ** 3

8

In [47]:
3 ** (1 + 5 + 6)

531441

In [48]:
2 ** (1/2)

1.4142135623730951

In [49]:
2 ** 0.5

1.4142135623730951

In [50]:
# conversiones

abs(-5)    # valor absoluto

5

In [52]:
int(3.963547)   # conversion a entero

3

In [53]:
float(7)    # conversion a float

7.0

In [59]:
float('3.4676')

3.4676

In [60]:
round(5.37)

5

In [65]:
type(round(5.97))

int

In [64]:
round(4.756776435364, 4)   # a 4 decimales

4.7568

In [66]:
type(round(4.756776435364, 4) )

float

In [67]:
import math

In [68]:
math.floor(6.98)

6

In [69]:
math.ceil(6.01)

7

In [70]:
math.sqrt(2)

1.4142135623730951

In [72]:
math.log10(100)

2.0

In [74]:
#help(math)

In [76]:
#help(temp)

## Booleanos

In [78]:
bool(0)

False

In [79]:
bool(1)

True

In [80]:
True

True

In [81]:
False

False

In [82]:
True == False

False

In [83]:
0.5 == .5

True

In [84]:
50 < 100

True

In [85]:
50 > 100

False

In [86]:
not True

False

#### Ley de De Morgan
```python
not (a or b) == (not a) and (not b)
not (a and b) == (not a) or (not b)
```

In [87]:
not (False and True)

True

In [88]:
(not False) or (not True)

True

## Valores nulos (None)

In [90]:
print(None)

None

In [91]:
type(None)

NoneType

## Cadenas de caracteres (string)

In [92]:
nombre = 'Pepe'

nombre

'Pepe'

In [93]:
type(nombre)

str

In [94]:
type('hola')

str

In [95]:
# cuidado con las comillas

"hola"

'hola'

In [98]:
"hola estoy en 'Ironhack'"

"hola estoy en 'Ironhack'"

In [99]:
'hola estoy en "Ironhack"'

'hola estoy en "Ironhack"'

In [101]:
# comentario de una linea

In [103]:
'''
comentario multilinea

'''

3

3

In [107]:
var= """
comentario multilinea

"""

In [108]:
var   # \n es el salto de linea

'\ncomentario multilinea\n\n'

In [110]:
print('hola, estoy en : \n Ironhack')

hola, estoy en :
 Ironhack

In [111]:
print('hola, estoy en : \t Ironhack')  # \t es el tabulador

hola, estoy en : 	 Ironhack

In [115]:
type('3.45')

str

In [116]:
# operaciones con strings

'hola' + 2

TypeError: can only concatenate str (not "int") to str

In [122]:
'hola ' * 5.

TypeError: can't multiply sequence by non-int of type 'float'

In [120]:
'hola' + '2'

'hola2'

In [121]:
'hola' - 'h'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [123]:
saludo = 'hola'

saludo += '2'    # saludo = saludo + '2'

saludo

'hola2'

In [124]:
a=2

a+=2      # a = a+2

print(a)

4

In [125]:
a=2

a-=2      # a = a-2

print(a)

0

In [126]:
a=2

a*=5      # a = a*5

print(a)

10

In [127]:
a=2

a/=5      # a = a/5

print(a)

0.4

In [129]:
num = 2980

f'Hola Chief: me has robao {num} €, alegre....'

'Hola Chief: me has robao 2980 €, alegre....'

In [130]:
'Hola Chief: me has robao {} €, alegre....'.format(num)

'Hola Chief: me has robao 2980 €, alegre....'

In [137]:
num = 54.4398579837495835938759385739

var = 'hola'

f'Hola Chief: me has robao {num} €, alegre....{var}'

'Hola Chief: me has robao 54.43985798374958 €, alegre....hola'

In [136]:
'Hola Chief: me has robao {:.2f} €, alegre....{}'.format(num, var)

'Hola Chief: me has robao 54.44 €, alegre....hola'

In [141]:
print(r'C:\nuevo')  
# raw, en crudo, es decir tal cual viene, por el backslash para las rutas en windows

C:\nuevo

In [142]:
'Hola Chief: me has robao €, alegre....'.lower()

'hola chief: me has robao €, alegre....'

In [143]:
'Hola Chief: me has robao €, alegre....'.upper()

'HOLA CHIEF: ME HAS ROBAO €, ALEGRE....'

In [144]:
'Hola Chief: me has robao €, alegre....'.title()

'Hola Chief: Me Has Robao €, Alegre....'

In [145]:
'Hola Chief: me has robao €, alegre....'.capitalize()

'Hola chief: me has robao €, alegre....'

In [146]:
string='Hola Chief: me has robao €, alegre....'

In [149]:
string[0]='i'

TypeError: 'str' object does not support item assignment

In [150]:
string.replace('H', 'i')

'iola Chief: me has robao €, alegre....'

## Listas

In [151]:
lst = [10, 23, 45, 66, 432, 6546, 75474, 6]

lst2 = ['hola', 'adios', 'hasta luego', 'chato']


print(lst)

[10, 23, 45, 66, 432, 6546, 75474, 6]

In [152]:
type(lst)

list

In [153]:
len(lst)

8

In [156]:
min(lst), min(lst2)  # https://elcodigoascii.com.ar/

(6, 'adios')

In [157]:
max(lst), max(lst2)

(75474, 'hola')

In [158]:
4 in lst

False

In [159]:
'hola' in lst2

True

In [163]:
sum(lst)

82602

In [164]:
sum(lst) / len(lst)   # media

10325.25

In [167]:
list(str(lst))

['[',
 '1',
 '0',
 ',',
 ' ',
 '2',
 '3',
 ',',
 ' ',
 '4',
 '5',
 ',',
 ' ',
 '6',
 '6',
 ',',
 ' ',
 '4',
 '3',
 '2',
 ',',
 ' ',
 '6',
 '5',
 '4',
 '6',
 ',',
 ' ',
 '7',
 '5',
 '4',
 '7',
 '4',
 ',',
 ' ',
 '6',
 ']']

In [169]:
string.split()

['Hola', 'Chief:', 'me', 'has', 'robao', '€,', 'alegre....']

In [171]:
str_list=string.split(':')

str_list

['Hola Chief', ' me has robao €, alegre....']

In [179]:
str_list[0] = '4322'

str_list

['4322', ' me has robao €, alegre....']

In [180]:
'::::'.join(str_list)

'4322:::: me has robao €, alegre....'

In [182]:
# slicing

lst

[10, 23, 45, 66, 432, 6546, 75474, 6]

In [183]:
lst[0]   # el primero, los indices siempre empiezan en 0 y acaban en N-1

10

In [184]:
lst[1]  # el segundo

23

In [185]:
lst[-1]  # el ultimo

6

In [186]:
lst[-2]  # el penultimo

75474

In [189]:
lst[7]

6

In [ ]:
# lst[start : stop : step]

In [191]:
lst[1:4]  # lst[start : stop]

[23, 45, 66]

In [196]:
lst[1:10:2]  # lst[start : stop : step]

[23, 66, 6546, 6]

In [195]:
lst

[10, 23, 45, 66, 432, 6546, 75474, 6]

In [197]:
lst[::2]  # todo, desde el principio al final de 2 en 2

[10, 45, 432, 75474]

In [198]:
lst[::-1]

[6, 75474, 6546, 432, 66, 45, 23, 10]

In [200]:
lst[1:10:2] = [0, 0, 0, 0]

lst

[10, 0, 45, 0, 432, 0, 75474, 0]

**tipos de bucles**

In [204]:
lst

[10, 0, 45, 0, 432, 0, 75474, 0]

In [206]:
# para cada elemento en la lista....

for e in lst:
    print(e+2)
    
print('el bucle acaba aqui')

12
2
47
2
434
2
75476
2
el bucle acaba aqui

In [208]:
# para cada indice en el rango de la longitud de la lista....

for i in range(len(lst)):
    print(i, '---', lst[i])
    
print('el bucle acaba aqui')

0 --- 10
1 --- 0
2 --- 45
3 --- 0
4 --- 432
5 --- 0
6 --- 75474
7 --- 0
el bucle acaba aqui

In [241]:
for i in range(2, 8, 2):      # start-stop-step
    print(i, '---', lst[i])
    
print('el bucle acaba aqui')

2 --- 45
4 --- 432
6 --- 75474
el bucle acaba aqui

In [221]:
lst[4]

432

In [242]:
for i in [1, 4, 5]:
    print(i, ':::', lst[i])

1 ::: 0
4 ::: 432
5 ::: 0

In [222]:
for i,e in enumerate(lst):
    print(i, '_____', e)

0 _____ 10
1 _____ 0
2 _____ 45
3 _____ 0
4 _____ 432
5 _____ 0
6 _____ 75474
7 _____ 0

In [228]:
list(enumerate(lst))[2:5:2]

[(2, 45), (4, 432)]

In [227]:
l1=[1,2,3]

l2=['a', 'b', 'c']

list(zip(l1, l2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [229]:
'kejbfiaej n oeinfgoewinf wfgipowengf3'[3:25:5]

'bjeof'

In [234]:
for carahueevo, paya in enumerate(lst):
    
    print(carahueevo, paya)

0 10
1 0
2 45
3 0
4 432
5 0
6 75474
7 0

In [237]:
for i in range(4):
    print(i)

0
1
2
3

In [240]:
list(range(4))

[0, 1, 2, 3]

In [244]:
# bucle while

a=0

while a<10:
    
    print(f'El valor de a es {a}')
    
    a+=5
    
print('El bucle acaba aqui')

El valor de a es 0
El valor de a es 5
El bucle acaba aqui

In [245]:
# bucle infinito

while True:
    print('hola')
    
    a+=2
    
    if a>20:
        break

hola
hola
hola
hola
hola
hola

In [246]:
# bucle infinito

while 1:
    print('hola')
    
    a+=2
    
    if a>20:
        break

hola

In [248]:
for e in lst:
    if e==432:
        continue    # salta al siguiente paso del bucle
    print(e)

10
0
45
0
0
75474
0

**condicionales**

In [254]:
estudiante = 'Pepe 🥹'

estudiante[-1]

'\U0001f979'

In [255]:
if estudiante[-1] == '🤪':
    print(estudiante, 'puede entrar en el campus')
    
else:
    print('No')

No

In [258]:
a=-6


if a==0:
    print('Cerito.')
    
elif a>0:
    print('Mayor.')
    
else:
    print('Menor')

Menor

In [263]:
a=10
b=2


if a>0 and b==2:
    
    print(a)
    print(b)
    for i in range(b+5):
        print(f'a vale {a}')
        a+=i
        
elif a==0 or b==3:
    print('no tio')
 

a

10
2
a vale 10
a vale 10
a vale 11
a vale 13
a vale 16
a vale 20
a vale 25

31

In [267]:
# secuancia de Fibonacci

a=0
b=1

print(a)
print(b)


contador=0

cuantos=10

while contador<cuantos:
    
    c = a+b
    print(c)
    
    a = b
    b = c
    
    contador+=1
    
print('acabe')

0
1
1
2
3
5
8
13
21
34
55
89
acabe

**list comprehension**

## Tuplas

Inmutables

## Conjuntos (set)

## Diccionarios

## Más

`is` vs `==` [link](http://net-informations.com/python/iq/is.htm#:~:text=The%20is%20operator%20compares%20the,and%20%3D%3D%20comparison%20operators%20behave.)

In [ ]:
#id

`while 1` vs `while True`

[Python docs](https://docs.python.org/3/tutorial/controlflow.html)

Tutorial [Python Booleans](https://realpython.com/python-boolean/)

Charla de [Richard Feynman](https://www.youtube.com/watch?v=EKWGGDXe5MA) sobre computación