# 1.2 - Intro Pandas (Panel Data)

**[Documentación](https://pandas.pydata.org/docs/reference/index.html#api)**

**[Código fuente](https://github.com/pandas-dev/pandas)**


![pandas](images/pandas.png)


Pandas es una librería de python especializada en el manejo y análisis de estructuras de datos.


Las principales características de esta librería son:

+ Define nuevas estructuras de datos basadas en los arrays de la librería NumPy pero con nuevas funcionalidades.
+ Permite leer y escribir fácilmente ficheros en formato CSV, Excel y bases de datos SQL.
+ Permite acceder a los datos mediante índices o nombres para filas y columnas.
+ Ofrece métodos para reordenar, dividir y combinar conjuntos de datos.
+ Permite trabajar con series temporales.
+ Realiza todas estas operaciones de manera muy eficiente.


**Tipos de datos de Pandas**
Pandas dispone de dos estructuras de datos diferentes:

+ Series: Estructura de una dimensión.
+ DataFrame: Estructura de dos dimensiones (tablas).

Estas estructuras se construyen a partir de arrays de la librería NumPy, añadiendo nuevas funcionalidades.

In [1]:
%pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/Caskroom/miniconda/base/envs/clase/lib/python3.9/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/Caskroom/miniconda/base/envs/clase/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Caskroom/miniconda/base/envs/clase/lib/python3.9/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in /opt/homebrew/Caskroom/miniconda/base/envs/clase/lib/python3.9/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Caskroom/miniconda/base/envs/clase/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: Error parsing requirements for pyarrow: [Errno 21] Is a directory: '/opt/homebrew/Caskroom/miniconda/base/envs/clase/lib/python3.9/site-packages/pyarrow-10.0.1.dist-info/METADATA'
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import warnings
warnings.filterwarnings('ignore')

### Serie

Son estructuras similares a los arrays de una dimensión. Son homogéneas, es decir, sus elementos tienen que ser del mismo tipo, y su tamaño es inmutable, es decir, no se puede cambiar, aunque si su contenido.

Dispone de un índice que asocia un nombre a cada elemento del la serie, a través de la cuál se accede al elemento.

In [5]:
lst = [(3.4 + i)**2 for i in range(10)]

lst

[11.559999999999999,
 19.360000000000003,
 29.160000000000004,
 40.96000000000001,
 54.760000000000005,
 70.56,
 88.36000000000001,
 108.16000000000001,
 129.96,
 153.76000000000002]

In [99]:
serie=pd.Series(lst)

serie

0     11.56
1     19.36
2     29.16
3     40.96
4     54.76
5     70.56
6     88.36
7    108.16
8    129.96
9    153.76
dtype: float64

In [101]:
serie[2]='hola'

In [102]:
serie

0     11.56
1     19.36
2      hola
3     40.96
4     54.76
5     70.56
6     88.36
7    108.16
8    129.96
9    153.76
dtype: object

In [104]:
type(serie[0])

float

In [7]:
#help(serie)

In [8]:
serie.head()    # la cabeza, 5 primeros por defecto

0    11.56
1    19.36
2    29.16
3    40.96
4    54.76
dtype: float64

In [9]:
serie.head(10)

0     11.56
1     19.36
2     29.16
3     40.96
4     54.76
5     70.56
6     88.36
7    108.16
8    129.96
9    153.76
dtype: float64

In [10]:
serie.tail()

5     70.56
6     88.36
7    108.16
8    129.96
9    153.76
dtype: float64

In [11]:
serie.index

RangeIndex(start=0, stop=10, step=1)

In [12]:
serie.index = ['q', 't', 'y', 'o', 'p', 'a', 's', 'd', 'f', 'g']

serie

q     11.56
t     19.36
y     29.16
o     40.96
p     54.76
a     70.56
s     88.36
d    108.16
f    129.96
g    153.76
dtype: float64

In [13]:
serie['p']

54.760000000000005

In [14]:
serie.to_dict()

{'q': 11.559999999999999,
 't': 19.360000000000003,
 'y': 29.160000000000004,
 'o': 40.96000000000001,
 'p': 54.760000000000005,
 'a': 70.56,
 's': 88.36000000000001,
 'd': 108.16000000000001,
 'f': 129.96,
 'g': 153.76000000000002}

In [15]:
serie.to_frame()

        0
q   11.56
t   19.36
y   29.16
o   40.96
p   54.76
a   70.56
s   88.36
d  108.16
f  129.96
g  153.76

### DataFrame

Un objeto del tipo DataFrame define un conjunto de datos estructurado en forma de tabla donde cada columna es un objeto de tipo Series, es decir, todos los datos de una misma columna son del mismo tipo, y las filas son registros que pueden contender datos de distintos tipos.

Un DataFrame contiene dos índices, uno para las filas y otro para las columnas, y se puede acceder a sus elementos mediante los nombres de las filas y las columnas.

In [16]:
columnas=['col1', 'col2', 'col 3', 'col4', 'col5']

array=np.random.random((10, 5))

array

array([[0.92732727, 0.05593762, 0.25185575, 0.0833021 , 0.36258055],
       [0.4127016 , 0.20567378, 0.93727198, 0.69333828, 0.7255129 ],
       [0.25795177, 0.64260109, 0.47712306, 0.74131778, 0.47092225],
       [0.64428443, 0.85968123, 0.80567346, 0.036707  , 0.64983424],
       [0.44602292, 0.79893078, 0.10759787, 0.86805265, 0.72548702],
       [0.11873128, 0.39998498, 0.63655344, 0.82020422, 0.32715069],
       [0.50820821, 0.35070207, 0.5955153 , 0.97324428, 0.48401388],
       [0.17947345, 0.94489584, 0.51270546, 0.12217263, 0.93159005],
       [0.41492812, 0.93621506, 0.54294559, 0.14636253, 0.15116976],
       [0.93640471, 0.72493636, 0.94979704, 0.26163574, 0.90041699]])

In [17]:
df = pd.DataFrame(array, columns=columnas)

df

       col1      col2     col 3      col4      col5
0  0.927327  0.055938  0.251856  0.083302  0.362581
1  0.412702  0.205674  0.937272  0.693338  0.725513
2  0.257952  0.642601  0.477123  0.741318  0.470922
3  0.644284  0.859681  0.805673  0.036707  0.649834
4  0.446023  0.798931  0.107598  0.868053  0.725487
5  0.118731  0.399985  0.636553  0.820204  0.327151
6  0.508208  0.350702  0.595515  0.973244  0.484014
7  0.179473  0.944896  0.512705  0.122173  0.931590
8  0.414928  0.936215  0.542946  0.146363  0.151170
9  0.936405  0.724936  0.949797  0.261636  0.900417

In [18]:
df['col 3']

0    0.251856
1    0.937272
2    0.477123
3    0.805673
4    0.107598
5    0.636553
6    0.595515
7    0.512705
8    0.542946
9    0.949797
Name: col 3, dtype: float64

In [19]:
df.col 3

SyntaxError: invalid syntax (3887910251.py, line 1)

In [20]:
df.columns = [e.replace(' ', '_') for e in df.columns]

df.columns

Index(['col1', 'col2', 'col_3', 'col4', 'col5'], dtype='object')

In [21]:
df.col_3

0    0.251856
1    0.937272
2    0.477123
3    0.805673
4    0.107598
5    0.636553
6    0.595515
7    0.512705
8    0.542946
9    0.949797
Name: col_3, dtype: float64

In [22]:
df.rename(columns={'col_3': 'columna'},
          inplace=True) # key=viejo nombre, value=nuevo nombre

#help(df.rename)

In [23]:
df

       col1      col2   columna      col4      col5
0  0.927327  0.055938  0.251856  0.083302  0.362581
1  0.412702  0.205674  0.937272  0.693338  0.725513
2  0.257952  0.642601  0.477123  0.741318  0.470922
3  0.644284  0.859681  0.805673  0.036707  0.649834
4  0.446023  0.798931  0.107598  0.868053  0.725487
5  0.118731  0.399985  0.636553  0.820204  0.327151
6  0.508208  0.350702  0.595515  0.973244  0.484014
7  0.179473  0.944896  0.512705  0.122173  0.931590
8  0.414928  0.936215  0.542946  0.146363  0.151170
9  0.936405  0.724936  0.949797  0.261636  0.900417

In [24]:
cols=['col2', 'col4']

df[cols]

       col2      col4
0  0.055938  0.083302
1  0.205674  0.693338
2  0.642601  0.741318
3  0.859681  0.036707
4  0.798931  0.868053
5  0.399985  0.820204
6  0.350702  0.973244
7  0.944896  0.122173
8  0.936215  0.146363
9  0.724936  0.261636

In [25]:
df[['col2', 'col4']]

       col2      col4
0  0.055938  0.083302
1  0.205674  0.693338
2  0.642601  0.741318
3  0.859681  0.036707
4  0.798931  0.868053
5  0.399985  0.820204
6  0.350702  0.973244
7  0.944896  0.122173
8  0.936215  0.146363
9  0.724936  0.261636

In [26]:
df[['col2', 'col4', 'col1']]

       col2      col4      col1
0  0.055938  0.083302  0.927327
1  0.205674  0.693338  0.412702
2  0.642601  0.741318  0.257952
3  0.859681  0.036707  0.644284
4  0.798931  0.868053  0.446023
5  0.399985  0.820204  0.118731
6  0.350702  0.973244  0.508208
7  0.944896  0.122173  0.179473
8  0.936215  0.146363  0.414928
9  0.724936  0.261636  0.936405

In [27]:
df['ceros']=0.  # columna de ceros

df

       col1      col2   columna      col4      col5  ceros
0  0.927327  0.055938  0.251856  0.083302  0.362581    0.0
1  0.412702  0.205674  0.937272  0.693338  0.725513    0.0
2  0.257952  0.642601  0.477123  0.741318  0.470922    0.0
3  0.644284  0.859681  0.805673  0.036707  0.649834    0.0
4  0.446023  0.798931  0.107598  0.868053  0.725487    0.0
5  0.118731  0.399985  0.636553  0.820204  0.327151    0.0
6  0.508208  0.350702  0.595515  0.973244  0.484014    0.0
7  0.179473  0.944896  0.512705  0.122173  0.931590    0.0
8  0.414928  0.936215  0.542946  0.146363  0.151170    0.0
9  0.936405  0.724936  0.949797  0.261636  0.900417    0.0

In [28]:
df['nulos']=np.nan

df

       col1      col2   columna      col4      col5  ceros  nulos
0  0.927327  0.055938  0.251856  0.083302  0.362581    0.0    NaN
1  0.412702  0.205674  0.937272  0.693338  0.725513    0.0    NaN
2  0.257952  0.642601  0.477123  0.741318  0.470922    0.0    NaN
3  0.644284  0.859681  0.805673  0.036707  0.649834    0.0    NaN
4  0.446023  0.798931  0.107598  0.868053  0.725487    0.0    NaN
5  0.118731  0.399985  0.636553  0.820204  0.327151    0.0    NaN
6  0.508208  0.350702  0.595515  0.973244  0.484014    0.0    NaN
7  0.179473  0.944896  0.512705  0.122173  0.931590    0.0    NaN
8  0.414928  0.936215  0.542946  0.146363  0.151170    0.0    NaN
9  0.936405  0.724936  0.949797  0.261636  0.900417    0.0    NaN

In [29]:
df['nueva']=[i for i in range(len(df))]

df

       col1      col2   columna      col4      col5  ceros  nulos  nueva
0  0.927327  0.055938  0.251856  0.083302  0.362581    0.0    NaN      0
1  0.412702  0.205674  0.937272  0.693338  0.725513    0.0    NaN      1
2  0.257952  0.642601  0.477123  0.741318  0.470922    0.0    NaN      2
3  0.644284  0.859681  0.805673  0.036707  0.649834    0.0    NaN      3
4  0.446023  0.798931  0.107598  0.868053  0.725487    0.0    NaN      4
5  0.118731  0.399985  0.636553  0.820204  0.327151    0.0    NaN      5
6  0.508208  0.350702  0.595515  0.973244  0.484014    0.0    NaN      6
7  0.179473  0.944896  0.512705  0.122173  0.931590    0.0    NaN      7
8  0.414928  0.936215  0.542946  0.146363  0.151170    0.0    NaN      8
9  0.936405  0.724936  0.949797  0.261636  0.900417    0.0    NaN      9

In [30]:
df.shape

(10, 8)

In [31]:
len(df)

10

In [32]:
df['col10']=df.col1 * df.col2 / df.col4

df

,col1,col2,columna,col4,col5,ceros,nulos,nueva,col10
0,0.927327,0.055938,0.251856,0.083302,0.362581,0.0,NaN,0,0.622703
1,0.412702,0.205674,0.937272,0.693338,0.725513,0.0,NaN,1,0.122425
2,0.257952,0.642601,0.477123,0.741318,0.470922,0.0,NaN,2,0.223602
3,0.644284,0.859681,0.805673,0.036707,0.649834,0.0,NaN,3,15.089200
4,0.446023,0.798931,0.107598,0.868053,0.725487,0.0,NaN,4,0.410507
5,0.118731,0.399985,0.636553,0.820204,0.327151,0.0,NaN,5,0.057901
6,0.508208,0.350702,0.595515,0.973244,0.484014,0.0,NaN,6,0.183129
7,0.179473,0.944896,0.512705,0.122173,0.931590,0.0,NaN,7,1.388066
8,0.414928,0.936215,0.542946,0.146363,0.151170,0.0,NaN,8,2.654108
9,0.936405,0.724936,0.949797,0.261636,0.900417,0.0,NaN,9,2.594576

In [33]:
df.insert(1, 'insertada', [i for i in range(len(df))])

df

,col1,insertada,col2,columna,col4,col5,ceros,nulos,nueva,col10
0,0.927327,0,0.055938,0.251856,0.083302,0.362581,0.0,NaN,0,0.622703
1,0.412702,1,0.205674,0.937272,0.693338,0.725513,0.0,NaN,1,0.122425
2,0.257952,2,0.642601,0.477123,0.741318,0.470922,0.0,NaN,2,0.223602
3,0.644284,3,0.859681,0.805673,0.036707,0.649834,0.0,NaN,3,15.089200
4,0.446023,4,0.798931,0.107598,0.868053,0.725487,0.0,NaN,4,0.410507
5,0.118731,5,0.399985,0.636553,0.820204,0.327151,0.0,NaN,5,0.057901
6,0.508208,6,0.350702,0.595515,0.973244,0.484014,0.0,NaN,6,0.183129
7,0.179473,7,0.944896,0.512705,0.122173,0.931590,0.0,NaN,7,1.388066
8,0.414928,8,0.936215,0.542946,0.146363,0.151170,0.0,NaN,8,2.654108
9,0.936405,9,0.724936,0.949797,0.261636,0.900417,0.0,NaN,9,2.594576

In [34]:
df[sorted(df.columns)]

,ceros,col1,col10,col2,col4,col5,columna,insertada,nueva,nulos
0,0.0,0.927327,0.622703,0.055938,0.083302,0.362581,0.251856,0,0,NaN
1,0.0,0.412702,0.122425,0.205674,0.693338,0.725513,0.937272,1,1,NaN
2,0.0,0.257952,0.223602,0.642601,0.741318,0.470922,0.477123,2,2,NaN
3,0.0,0.644284,15.089200,0.859681,0.036707,0.649834,0.805673,3,3,NaN
4,0.0,0.446023,0.410507,0.798931,0.868053,0.725487,0.107598,4,4,NaN
5,0.0,0.118731,0.057901,0.399985,0.820204,0.327151,0.636553,5,5,NaN
6,0.0,0.508208,0.183129,0.350702,0.973244,0.484014,0.595515,6,6,NaN
7,0.0,0.179473,1.388066,0.944896,0.122173,0.931590,0.512705,7,7,NaN
8,0.0,0.414928,2.654108,0.936215,0.146363,0.151170,0.542946,8,8,NaN
9,0.0,0.936405,2.594576,0.724936,0.261636,0.900417,0.949797,9,9,NaN

In [35]:
df.columns

Index(['col1', 'insertada', 'col2', 'columna', 'col4', 'col5', 'ceros',
       'nulos', 'nueva', 'col10'],
      dtype='object')

In [36]:
df['col10'][5]

0.05790110224733576

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   col1       10 non-null     float64
 1   insertada  10 non-null     int64
 2   col2       10 non-null     float64
 3   columna    10 non-null     float64
 4   col4       10 non-null     float64
 5   col5       10 non-null     float64
 6   ceros      10 non-null     float64
 7   nulos      0 non-null      float64
 8   nueva      10 non-null     int64
 9   col10      10 non-null     float64
dtypes: float64(8), int64(2)
memory usage: 928.0 bytes

In [38]:
df.fillna('hola', inplace=True)

In [39]:
df

,col1,insertada,col2,columna,col4,col5,ceros,nulos,nueva,col10
0,0.927327,0,0.055938,0.251856,0.083302,0.362581,0.0,hola,0,0.622703
1,0.412702,1,0.205674,0.937272,0.693338,0.725513,0.0,hola,1,0.122425
2,0.257952,2,0.642601,0.477123,0.741318,0.470922,0.0,hola,2,0.223602
3,0.644284,3,0.859681,0.805673,0.036707,0.649834,0.0,hola,3,15.089200
4,0.446023,4,0.798931,0.107598,0.868053,0.725487,0.0,hola,4,0.410507
5,0.118731,5,0.399985,0.636553,0.820204,0.327151,0.0,hola,5,0.057901
6,0.508208,6,0.350702,0.595515,0.973244,0.484014,0.0,hola,6,0.183129
7,0.179473,7,0.944896,0.512705,0.122173,0.931590,0.0,hola,7,1.388066
8,0.414928,8,0.936215,0.542946,0.146363,0.151170,0.0,hola,8,2.654108
9,0.936405,9,0.724936,0.949797,0.261636,0.900417,0.0,hola,9,2.594576

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   col1       10 non-null     float64
 1   insertada  10 non-null     int64
 2   col2       10 non-null     float64
 3   columna    10 non-null     float64
 4   col4       10 non-null     float64
 5   col5       10 non-null     float64
 6   ceros      10 non-null     float64
 7   nulos      10 non-null     object
 8   nueva      10 non-null     int64
 9   col10      10 non-null     float64
dtypes: float64(7), int64(2), object(1)
memory usage: 928.0+ bytes

In [41]:
# introducir datos desde una lista de listas

lst_lst=[[687261, 'hola', 4728364], 
         [83546, 'adios', 58943], 
         [321, 'oo^oo']]


columnas=['num', 'palabra', 'otro_num']

In [42]:
df_lst = pd.DataFrame(lst_lst, columns=columnas)

df_lst

      num palabra   otro_num
0  687261    hola  4728364.0
1   83546   adios    58943.0
2     321   oo^oo        NaN

In [43]:
df_lst.fillna(0., inplace=True)  # rellena todos los nulos

df_lst

      num palabra   otro_num
0  687261    hola  4728364.0
1   83546   adios    58943.0
2     321   oo^oo        0.0

In [44]:
# con dictio

dictio={'casa': lst_lst[0],
        'oficina': lst_lst[1],
        'numero': lst_lst[2]+[0]}

dictio

{'casa': [687261, 'hola', 4728364],
 'oficina': [83546, 'adios', 58943],
 'numero': [321, 'oo^oo', 0]}

In [45]:
df_dictio = pd.DataFrame(dictio)

df_dictio

      casa oficina numero
0   687261   83546    321
1     hola   adios  oo^oo
2  4728364   58943      0

In [46]:
df.drop('nulos',        # nombre de la columna
        axis=1,         # por columnas, el eje
        inplace=True    # sobreescribe el df
       )  # borra una columna

In [47]:
df.head()

,col1,insertada,col2,columna,col4,col5,ceros,nueva,col10
0,0.927327,0,0.055938,0.251856,0.083302,0.362581,0.0,0,0.622703
1,0.412702,1,0.205674,0.937272,0.693338,0.725513,0.0,1,0.122425
2,0.257952,2,0.642601,0.477123,0.741318,0.470922,0.0,2,0.223602
3,0.644284,3,0.859681,0.805673,0.036707,0.649834,0.0,3,15.089200
4,0.446023,4,0.798931,0.107598,0.868053,0.725487,0.0,4,0.410507

In [48]:
df.drop(0,              # indice
        axis=0,         # por filas, el eje
        inplace=True    # sobreescribe el df
       )  # borra una columna

In [49]:
df.reset_index()

,index,col1,insertada,col2,columna,col4,col5,ceros,nueva,col10
0,1,0.412702,1,0.205674,0.937272,0.693338,0.725513,0.0,1,0.122425
1,2,0.257952,2,0.642601,0.477123,0.741318,0.470922,0.0,2,0.223602
2,3,0.644284,3,0.859681,0.805673,0.036707,0.649834,0.0,3,15.089200
3,4,0.446023,4,0.798931,0.107598,0.868053,0.725487,0.0,4,0.410507
4,5,0.118731,5,0.399985,0.636553,0.820204,0.327151,0.0,5,0.057901
5,6,0.508208,6,0.350702,0.595515,0.973244,0.484014,0.0,6,0.183129
6,7,0.179473,7,0.944896,0.512705,0.122173,0.931590,0.0,7,1.388066
7,8,0.414928,8,0.936215,0.542946,0.146363,0.151170,0.0,8,2.654108
8,9,0.936405,9,0.724936,0.949797,0.261636,0.900417,0.0,9,2.594576

In [50]:
df.index=[i for i in  range(len(df))]

### Operaciones

In [51]:
df

,col1,insertada,col2,columna,col4,col5,ceros,nueva,col10
0,0.412702,1,0.205674,0.937272,0.693338,0.725513,0.0,1,0.122425
1,0.257952,2,0.642601,0.477123,0.741318,0.470922,0.0,2,0.223602
2,0.644284,3,0.859681,0.805673,0.036707,0.649834,0.0,3,15.089200
3,0.446023,4,0.798931,0.107598,0.868053,0.725487,0.0,4,0.410507
4,0.118731,5,0.399985,0.636553,0.820204,0.327151,0.0,5,0.057901
5,0.508208,6,0.350702,0.595515,0.973244,0.484014,0.0,6,0.183129
6,0.179473,7,0.944896,0.512705,0.122173,0.931590,0.0,7,1.388066
7,0.414928,8,0.936215,0.542946,0.146363,0.151170,0.0,8,2.654108
8,0.936405,9,0.724936,0.949797,0.261636,0.900417,0.0,9,2.594576

In [52]:
df.transpose()

,0,1,2,3,4,5,6,7,8
col1,0.412702,0.257952,0.644284,0.446023,0.118731,0.508208,0.179473,0.414928,0.936405
insertada,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000
col2,0.205674,0.642601,0.859681,0.798931,0.399985,0.350702,0.944896,0.936215,0.724936
columna,0.937272,0.477123,0.805673,0.107598,0.636553,0.595515,0.512705,0.542946,0.949797
col4,0.693338,0.741318,0.036707,0.868053,0.820204,0.973244,0.122173,0.146363,0.261636
col5,0.725513,0.470922,0.649834,0.725487,0.327151,0.484014,0.931590,0.151170,0.900417
ceros,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
nueva,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000
col10,0.122425,0.223602,15.089200,0.410507,0.057901,0.183129,1.388066,2.654108,2.594576

In [53]:
df.T

,0,1,2,3,4,5,6,7,8
col1,0.412702,0.257952,0.644284,0.446023,0.118731,0.508208,0.179473,0.414928,0.936405
insertada,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000
col2,0.205674,0.642601,0.859681,0.798931,0.399985,0.350702,0.944896,0.936215,0.724936
columna,0.937272,0.477123,0.805673,0.107598,0.636553,0.595515,0.512705,0.542946,0.949797
col4,0.693338,0.741318,0.036707,0.868053,0.820204,0.973244,0.122173,0.146363,0.261636
col5,0.725513,0.470922,0.649834,0.725487,0.327151,0.484014,0.931590,0.151170,0.900417
ceros,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
nueva,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000
col10,0.122425,0.223602,15.089200,0.410507,0.057901,0.183129,1.388066,2.654108,2.594576

In [54]:
df.T.index

Index(['col1', 'insertada', 'col2', 'columna', 'col4', 'col5', 'ceros',
       'nueva', 'col10'],
      dtype='object')

In [55]:
df.columns

Index(['col1', 'insertada', 'col2', 'columna', 'col4', 'col5', 'ceros',
       'nueva', 'col10'],
      dtype='object')

In [56]:
df.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [57]:
df.sum()

col1          3.918706
insertada    45.000000
col2          5.863621
columna       5.565183
col4          4.663035
col5          5.366098
ceros         0.000000
nueva        45.000000
col10        22.723514
dtype: float64

In [58]:
df.sum(axis=0)

col1          3.918706
insertada    45.000000
col2          5.863621
columna       5.565183
col4          4.663035
col5          5.366098
ceros         0.000000
nueva        45.000000
col10        22.723514
dtype: float64

In [59]:
df.sum(axis=1)

0     5.096923
1     6.813518
2    24.085380
3    11.356598
4    12.360526
5    15.094813
6    18.078904
7    20.845729
8    24.367767
dtype: float64

In [60]:
seleccion=['col1', 'col2', 'col4']

df[seleccion].sum(axis=1)

0    1.311714
1    1.641871
2    1.540673
3    2.113006
4    1.338920
5    1.832155
6    1.246542
7    1.497506
8    1.922977
dtype: float64

In [61]:
df.std()

col1         0.249563
insertada    2.738613
col2         0.271614
columna      0.261049
col4         0.369778
col5         0.259824
ceros        0.000000
nueva        2.738613
col10        4.825506
dtype: float64

In [62]:
df.var()

col1          0.062281
insertada     7.500000
col2          0.073774
columna       0.068146
col4          0.136736
col5          0.067508
ceros         0.000000
nueva         7.500000
col10        23.285507
dtype: float64

In [63]:
df.mean()

col1         0.435412
insertada    5.000000
col2         0.651513
columna      0.618354
col4         0.518115
col5         0.596233
ceros        0.000000
nueva        5.000000
col10        2.524835
dtype: float64

In [64]:
df.median()

col1         0.414928
insertada    5.000000
col2         0.724936
columna      0.595515
col4         0.693338
col5         0.649834
ceros        0.000000
nueva        5.000000
col10        0.410507
dtype: float64

In [65]:
df.describe()

,col1,insertada,col2,columna,col4,col5,ceros,nueva,col10
count,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.0,9.000000,9.000000
mean,0.435412,5.000000,0.651513,0.618354,0.518115,0.596233,0.0,5.000000,2.524835
std,0.249563,2.738613,0.271614,0.261049,0.369778,0.259824,0.0,2.738613,4.825506
min,0.118731,1.000000,0.205674,0.107598,0.036707,0.151170,0.0,1.000000,0.057901
25%,0.257952,3.000000,0.399985,0.512705,0.146363,0.470922,0.0,3.000000,0.183129
50%,0.414928,5.000000,0.724936,0.595515,0.693338,0.649834,0.0,5.000000,0.410507
75%,0.508208,7.000000,0.859681,0.805673,0.820204,0.725513,0.0,7.000000,2.594576
max,0.936405,9.000000,0.944896,0.949797,0.973244,0.931590,0.0,9.000000,15.089200

In [66]:
df.mean() / len(df)

col1         0.048379
insertada    0.555556
col2         0.072390
columna      0.068706
col4         0.057568
col5         0.066248
ceros        0.000000
nueva        0.555556
col10        0.280537
dtype: float64

### Importar archivos

+ CSV
+ XLSX
+ XLS
+ JSON

In [67]:
pd.set_option('display.max_columns', None)  # ver todas las columnas

pd.set_option('display.max_rows', None)     # ver todas las filas

In [68]:
df_csv = pd.read_csv('../data/vehicles_messy.csv')

df_csv.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,co2,co2A,co2TailpipeAGpm,co2TailpipeGpm,comb08,comb08U,combA08,combA08U,combE,combinedCD,combinedUF,cylinders,displ,drive,engId,eng_dscr,feScore,fuelCost08,fuelCostA08,fuelType,fuelType1,ghgScore,ghgScoreA,highway08,highway08U,highwayA08,highwayA08U,highwayCD,highwayE,highwayUF,hlv,hpv,id,lv2,lv4,make,model,mpgData,phevBlended,pv2,pv4,range,rangeCity,rangeCityA,rangeHwy,rangeHwyA,trany,UCity,UCityA,UHighway,UHighwayA,VClass,year,youSaveSpend,guzzler,trans_dscr,tCharger,sCharger,atvType,fuelType2,rangeA,evMotor,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,423.190476,21,0.0,0,0.0,0.0,0.0,0.0,4.0,2.0,Rear-Wheel Drive,9011,(FFS),-1,1600,0,Regular,Regular Gasoline,-1,-1,25,0.0,0,0.0,0.0,0.0,0.0,0,0,1,0,0,Alfa Romeo,Spider Veloce 2000,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,23.3333,0.0,35.0000,0.0,Two Seaters,1985,-1250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,12.0,4.9,Rear-Wheel Drive,22020,(GUZZLER),-1,3050,0,Regular,Regular Gasoline,-1,-1,14,0.0,0,0.0,0.0,0.0,0.0,0,0,10,0,0,Ferrari,Testarossa,N,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,11.0000,0.0,19.0000,0.0,Two Seaters,1985,-8500,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,329.148148,27,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,Front-Wheel Drive,2100,(FFS),-1,1250,0,Regular,Regular Gasoline,-1,-1,33,0.0,0,0.0,0.0,0.0,0.0,19,77,100,0,0,Dodge,Charger,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,29.0000,0.0,47.0000,0.0,Subcompact Cars,1985,500,NaN,SIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,8.0,5.2,Rear-Wheel Drive,2850,NaN,-1,3050,0,Regular,Regular Gasoline,-1,-1,12,0.0,0,0.0,0.0,0.0,0.0,0,0,1000,0,0,Dodge,B150/B250 Wagon 2WD,N,False,0,0,0,0.0,0.0,0.0,0.0,Automatic 3-spd,12.2222,0.0,16.6667,0.0,Vans,1985,-8500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,467.736842,19,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,66031,"(FFS,TRBO)",-1,2150,0,Premium,Premium Gasoline,-1,-1,23,0.0,0,0.0,0.0,0.0,0.0,0,0,10000,0,14,Subaru,Legacy AWD Turbo,N,False,0,90,0,0.0,0.0,0.0,0.0,Manual 5-spd,21.0000,0.0,32.0000,0.0,Compact Cars,1993,-4000,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [69]:
len(df_csv)

37843

In [71]:
df_csv.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge120        37843 non-null  float64
 3   charge240        37843 non-null  float64
 4   city08           37843 non-null  int64
 5   city08U          37843 non-null  float64
 6   cityA08          37843 non-null  int64
 7   cityA08U         37843 non-null  float64
 8   cityCD           37843 non-null  float64
 9   cityE            37843 non-null  float64
 10  cityUF           37843 non-null  float64
 11  co2              37843 non-null  int64
 12  co2A             37843 non-null  int64
 13  co2TailpipeAGpm  37843 non-null  float64
 14  co2TailpipeGpm   37843 non-null  float64
 15  comb08           37843 non-null  int64
 16  comb08U          37843 non-null  float64
 17  combA08          37843 non-null  int64
 18  combA08U         37843 non-null  float64
 19  combE            37843 non-null  float64
 20  combinedCD       37843 non-null  float64
 21  combinedUF       37843 non-null  float64
 22  cylinders        37720 non-null  float64
 23  displ            37723 non-null  float64
 24  drive            36654 non-null  object
 25  engId            37843 non-null  int64
 26  eng_dscr         22440 non-null  object
 27  feScore          37843 non-null  int64
 28  fuelCost08       37843 non-null  int64
 29  fuelCostA08      37843 non-null  int64
 30  fuelType         37843 non-null  object
 31  fuelType1        37843 non-null  object
 32  ghgScore         37843 non-null  int64
 33  ghgScoreA        37843 non-null  int64
 34  highway08        37843 non-null  int64
 35  highway08U       37843 non-null  float64
 36  highwayA08       37843 non-null  int64
 37  highwayA08U      37843 non-null  float64
 38  highwayCD        37843 non-null  float64
 39  highwayE         37843 non-null  float64
 40  highwayUF        37843 non-null  float64
 41  hlv              37843 non-null  int64
 42  hpv              37843 non-null  int64
 43  id               37843 non-null  int64
 44  lv2              37843 non-null  int64
 45  lv4              37843 non-null  int64
 46  make             37843 non-null  object
 47  model            37843 non-null  object
 48  mpgData          37843 non-null  object
 49  phevBlended      37843 non-null  bool
 50  pv2              37843 non-null  int64
 51  pv4              37843 non-null  int64
 52  range            37843 non-null  int64
 53  rangeCity        37843 non-null  float64
 54  rangeCityA       37843 non-null  float64
 55  rangeHwy         37843 non-null  float64
 56  rangeHwyA        37843 non-null  float64
 57  trany            37832 non-null  object
 58  UCity            37843 non-null  float64
 59  UCityA           37843 non-null  float64
 60  UHighway         37843 non-null  float64
 61  UHighwayA        37843 non-null  float64
 62  VClass           37843 non-null  object
 63  year             37843 non-null  int64
 64  youSaveSpend     37843 non-null  int64
 65  guzzler          2281 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         5186 non-null   object
 68  sCharger         666 non-null    object
 69  atvType          3072 non-null   object
 70  fuelType2        1408 non-null   object
 71  rangeA           1403 non-null   object
 72  evMotor          562 non-null    object
 73  mfrCode          7025 non-null   object
 74  c240Dscr         37 non-null     object
 75  charge240b       37843 non-null  float64
 76  c240bDscr        36 non-null     object
 77  createdOn        37843 non-null  object
 78  modifiedOn       37843 non-null  object
 79  startStop        6138 non-null   object
 80  phevCity         37843 non-null  int64
 81  phevHwy          37843 non-null  int64
 82  phevComb         37843 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 59.8 MB

In [ ]:
%pip install openpyxl
%pip install xlrd

In [72]:
# xlsx

df_xlsx = pd.read_excel('../data/Online Retail.xlsx')

df_xlsx.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom

In [74]:
df_xlsx.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396034 entries, 0 to 396033
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    396034 non-null  int64
 1   InvoiceDate  396034 non-null  datetime64[ns]
 2   StockCode    396034 non-null  object
 3   Description  396034 non-null  object
 4   Quantity     396034 non-null  int64
 5   UnitPrice    396034 non-null  float64
 6   Revenue      396034 non-null  float64
 7   CustomerID   396034 non-null  int64
 8   Country      396034 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 90.7 MB

In [75]:
# xls


df_xls=pd.read_excel('../data/Sensor Data.xls')

df_xls.head()

,Input 1,Input 2,Input 3,Input 4,Input 5,Input 6,Input 7,Input 8,Input 9,Input 10,Input 11,Input 12,output1,output2,class
0,1.473,2.311,3.179,2.666,0.2795,0.2771,0.22340,0.1855,0.2539,1.138,1.111,4.712,1,1,one
1,1.460,2.377,3.214,2.920,0.2527,0.3064,0.02563,0.1965,0.3027,1.213,1.027,5.463,1,1,one
2,1.552,2.164,3.064,2.745,0.2820,0.2100,0.17210,0.1929,0.2100,1.221,1.058,5.332,1,1,one
3,1.605,2.228,3.149,2.834,0.2917,0.3613,0.20870,0.1294,0.2734,1.144,1.062,4.829,1,1,one
4,1.534,2.114,3.309,2.976,0.2100,0.2502,0.22580,0.1770,0.2039,1.254,1.112,5.734,1,1,one

In [76]:
df_xls=pd.read_excel('../data/Sensor Data.xls', 'Sheet1')

df_xls.head()

,Input 1,Input 2,Input 3,Input 4,Input 5,Input 6,Input 7,Input 8,Input 9,Input 10,Input 11,Input 12,output1,output2,class
0,1.473,2.311,3.179,2.666,0.2795,0.2771,0.22340,0.1855,0.2539,1.138,1.111,4.712,1,1,one
1,1.460,2.377,3.214,2.920,0.2527,0.3064,0.02563,0.1965,0.3027,1.213,1.027,5.463,1,1,one
2,1.552,2.164,3.064,2.745,0.2820,0.2100,0.17210,0.1929,0.2100,1.221,1.058,5.332,1,1,one
3,1.605,2.228,3.149,2.834,0.2917,0.3613,0.20870,0.1294,0.2734,1.144,1.062,4.829,1,1,one
4,1.534,2.114,3.309,2.976,0.2100,0.2502,0.22580,0.1770,0.2039,1.254,1.112,5.734,1,1,one

In [77]:
df_xls=pd.read_excel('../data/Sensor Data.xls', 'Sheet2')

df_xls.head()

                                                    Sensor Data
0  The data source as well as the exact nature of...
1  Each data instance contains 12 real-valued inp...
2  represents a sensor designed to detect the pre...
3  of substances. As an alternative, the sensor r...
4                                                NaN

In [78]:
df_xls=pd.read_excel('../data/Sensor Data.xls', 'Sheet3')

df_xls.head()

Empty DataFrame
Columns: [hola, amiguis, estamos, probando, pandas]
Index: []

In [79]:
df_xls=pd.read_excel('../data/Sensor Data.xls', 'Hoja1')

df_xls.head()

    32  42  4q34q34
0  23r   4      NaN
1  NaN  42      NaN

In [81]:
df_xls=pd.read_excel('../data/Sensor Data.xls', 0)

df_xls.head()

,Input 1,Input 2,Input 3,Input 4,Input 5,Input 6,Input 7,Input 8,Input 9,Input 10,Input 11,Input 12,output1,output2,class
0,1.473,2.311,3.179,2.666,0.2795,0.2771,0.22340,0.1855,0.2539,1.138,1.111,4.712,1,1,one
1,1.460,2.377,3.214,2.920,0.2527,0.3064,0.02563,0.1965,0.3027,1.213,1.027,5.463,1,1,one
2,1.552,2.164,3.064,2.745,0.2820,0.2100,0.17210,0.1929,0.2100,1.221,1.058,5.332,1,1,one
3,1.605,2.228,3.149,2.834,0.2917,0.3613,0.20870,0.1294,0.2734,1.144,1.062,4.829,1,1,one
4,1.534,2.114,3.309,2.976,0.2100,0.2502,0.22580,0.1770,0.2039,1.254,1.112,5.734,1,1,one

In [83]:
xl = pd.ExcelFile('../data/Sensor Data.xls')

xl.sheet_names  # see all sheet names

['Sheet1', 'Sheet2', 'Sheet3', 'Hoja1']

In [84]:
dictio_df = {}

for hoja in xl.sheet_names:
    
    dictio_df[hoja]=pd.read_excel('../data/Sensor Data.xls', hoja)

In [87]:
dictio_df['Sheet1'].head()

,Input 1,Input 2,Input 3,Input 4,Input 5,Input 6,Input 7,Input 8,Input 9,Input 10,Input 11,Input 12,output1,output2,class
0,1.473,2.311,3.179,2.666,0.2795,0.2771,0.22340,0.1855,0.2539,1.138,1.111,4.712,1,1,one
1,1.460,2.377,3.214,2.920,0.2527,0.3064,0.02563,0.1965,0.3027,1.213,1.027,5.463,1,1,one
2,1.552,2.164,3.064,2.745,0.2820,0.2100,0.17210,0.1929,0.2100,1.221,1.058,5.332,1,1,one
3,1.605,2.228,3.149,2.834,0.2917,0.3613,0.20870,0.1294,0.2734,1.144,1.062,4.829,1,1,one
4,1.534,2.114,3.309,2.976,0.2100,0.2502,0.22580,0.1770,0.2039,1.254,1.112,5.734,1,1,one

In [88]:
dictio_df['Hoja1'].head()

    32  42  4q34q34
0  23r   4      NaN
1  NaN  42      NaN

In [89]:
dictio_df.keys()

dict_keys(['Sheet1', 'Sheet2', 'Sheet3', 'Hoja1'])

In [92]:
type(dictio_df['Hoja1'])

pandas.core.frame.DataFrame

In [94]:
dictio_df['Hoja1']['hola']=0

dictio_df['Hoja1']

    32  42  4q34q34  hola
0  23r   4      NaN     0
1  NaN  42      NaN     0

In [98]:
dictio_df['Hoja1'].columns

Index([32, 42, '4q34q34', 'hola'], dtype='object')

In [97]:
# json

df_json = pd.read_json('../data/companies.json',
                      orient='records',  # es para orientar segun los registros..
                      lines=True)        # por filas

df_json.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,{'$oid': '52cdef7c4bab8bd675297d8a'},Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005.0,10.0,17.0,1.0,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,{'$date': 1180075887000},2013-12-08 07:15:44+00:00,<p>Wetpaint is a technology platform company t...,"{'available_sizes': [[[150, 75], 'assets/image...","[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],"{'price_amount': 30000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,{'$oid': '52cdef7c4bab8bd675297d8b'},AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,1996.0,NaN,NaN,2.0,,Zoho ManageEngine,pr@adventnet.com,925-924-9500,Server Management Software,{'$date': 1180121062000},2012-10-31 18:26:09+00:00,"<p>AdventNet is now <a href=""/company/zoho-man...","{'available_sizes': [[[150, 55], 'assets/image...",[],"[{'is_past': True, 'title': 'CEO and Co-Founde...",[],"[{'title': 'DHFH', 'is_past': True, 'provider'...",$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN
2,{'$oid': '52cdef7c4bab8bd675297d8c'},Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,2005.0,9.0,15.0,3.0,"zoho, officesuite, spreadsheet, writer, projec...",,info@zohocorp.com,1-888-204-3539,Online Business Apps Suite,Fri May 25 19:30:28 UTC 2007,2013-10-30 00:07:05+00:00,"<p>Zoho offers a suite of Business, Collaborat...","{'available_sizes': [[[150, 55], 'assets/image...","[{'name': 'Zoho Office Suite', 'permalink': 'z...","[{'is_past': False, 'title': 'CEO and Founder'...","[{'competitor': {'name': 'Empressr', 'permalin...",[],$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN
3,{'$oid': '52cdef7c4bab8bd675297d8d'},Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,2004.0,10.0,11.0,NaN,"community, social, news, bookmark, digg, techn...",,feedback@digg.com,(415) 436-9638,user driven social content website,Fri May 25 20:03:23 UTC 2007,2013-11-05 21:35:47+00:00,<p>Digg is a user driven social content websit...,"{'available_sizes': [[[150, 150], 'assets/imag...","[{'name': 'Digg', 'permalink': 'digg'}]","[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'Reddit', 'permalink'...","[{'title': 'Public Relations', 'is_past': True...",$45M,"[{'id': 1, 'round_code': 'b', 'source_url': 'h...",[],"{'price_amount': 500000, 'price_currency_code'...","[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None
4,{'$oid': '52cdef7c4bab8bd675297d8e'},Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,2004.0,2.0,1.0,NaN,"facebook, college, students, profiles, network...",,,,Social network,Fri May 25 21:22:15 UTC 2007,2013-11-21 19:40:55+00:00,<p>Facebook is the world&#8217;s largest socia...,"{'available_sizes': [[[150, 61], 'assets/image...","[{'name': 'Facebook Platform', 'permalink': 'f...","[{'is_past': False, 'title': 'Founder and CEO,...","[{'competitor': {'name': 'MySpace', 'permalink...","[{'title': '', 'is_past': False, 'provider': {...",$2.43B,"[{'id': 2, 'round_code': 'angel', 'source_url'...","[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[],NaN,NaN,,"{'valuation_amount': 104000000000, 'valuation_..."